!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title
    = title || "Server"  

  block stylesheets
  != css('bootstrap.min')
  != css('bootstrap-responsive.min')
  != css('app')
  
body
  .navbar.navbar-fixed-top
    .navbar-inner
      a.band
      .nav-collapse
        ul.nav
          li
            a(href="/admin/users") 用户列表
          li.pull-right
            a(href="/logout") 退出系统


  .container-fluid
    .container
      .span2
      .span10
        include widgets/flash_or_error
        block content

  footer
    .container
      p 
        a(href="") 108km公司 |
        a(href="") 108km公司 |
        a(href="") 108km公司 

  block javascripts
  != js('app')

| </html>
