extend ../layout

block content
  form.form-horizontal(action="/admin/do_login", method="POST")
    fieldset
      legend Admin登录
      .control-group
        label.control-label(for="email") 邮箱
        .controls
          input(name="email", type='text', placeholder="email@example.com")

      .control-group
        label.control-label(for="password") 密码
        .controls
          input(type='password', name="password", placeholder="Password")

      .form-actions
        button(type='submit').btn.btn-primary 登录
