extend ../layout

block content
  
  form.form-horizontal(action="/users", method="POST")
    fieldset
      legend 注册
      .control-group
        label.control-label(for="email") EMail
        .controls
          input(name="email", type='text', placeholder="email")

      .control-group
        label.control-label(for="password") 密码
        .controls
          input(type='password', name="password", placeholder="Password")
      .control-group
        label.control-label(for="password_confirmation") 确认密码
        .controls
          input(type='password', name="password_confirmation", placeholder="Password")

      .form-actions
        button(type='submit').btn.btn-primary 注册
        a(href='/tokens/new').btn 登录
