extend ../layout


block content
  form.form-horizontal(action="/tokens", method="POST")
    fieldset
      legend 登录
      .control-group
        label.control-label(for="login") 登录名
        .controls
          input(name="login", type='text', placeholder="login")

      .control-group
        label.control-label(for="password") 密码
        .controls
          input(type='password', name="password", placeholder="Password")

      .form-actions
        button(type='submit').btn.btn-primary 登录
        a(href='/register').btn 注册
