extend ../layout

block content
  form.form-horizontal(action="/characters", method="POST")
    fieldset
      legend 注册
      include _character
      .form-actions
        button(type='submit').btn.btn-primary 提交
