extend ../layout

block content
  form.form-horizontal(action="/characters", method="POST")
    fieldset
      legend 注册
      .control-group
        label.control-label(for="email") EMail
        .controls
          input(name="email", type='text', value=user.email,
disabled=true)

      .control-group
        label.control-label(for="nick_name") Nick Name
        .controls
          input(name="nick_name")

      .control-group
        label.control-label(for="gender") Gender
        .controls
          select(name="gender")
            option(value='Male') Male
            option(value='Female') Female


      .control-group
        label.control-label(for="job") Job
        .controls
          select(name='job')
            option(value="道士") 道士
            option(value="战士") 战士
            option(value="医师") 医师

      .control-group
        label.control-label(for="level") Level
        .controls
          input(name="level")

      .control-group
        label.control-label(for="hp") HP
        .controls
          input(name="hp")

      .control-group
        label.control-label(for="max_hp") Max HP
        .controls
          input(name="max_hp")

      .control-group
        label.control-label(for="mp") MP
        .controls
          input(name="mp")

      .control-group
        label.control-label(for="max_mp") Max MP
        .controls
          input(name="max_mp")

      .control-group
        label.control-label(for="hp_inc_speed") Hp Inc Speed
        .controls
          input(name="hp_inc_speed")

      .control-group
        label.control-label(for="mp_inc_speed") MP Inc Speed
        .controls
          input(name="mp_inc_speed")

      .control-group
        label.control-label(for="attack") Attack
        .controls
          input(name="attack")

      .form-actions
        button(type='submit').btn.btn-primary 提交
